*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav{
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b4242;

}

.header{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 0px;
    font-size: x-large;
}

.logo{
    width: 60px;
    margin: 10px;
}

nav h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    color: #fff;
}

nav ul li{
    display: inline;
    margin: 20px 25px;
    text-decoration: none; 
    text-align: center;
}

nav ul li a {
    color: #fff;
    margin: 20px 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dashed-box{
    border: 2px dashed #333; 
    margin: 20px 100px; 
    padding: 20px;
}

div p.privacy{
    font-size: larger;
    margin: 50px;
    align-content: center;
    border-radius: 25px;
    padding: 10px;
    border-style: hidden;
    background-color: #d8d8d8;
    color: rgb(144, 144, 150);
    text-align: center;
}

.index-content1{
    text-align: center;
}

.index-content1 h1{
    align-items: center;
    margin: 20px; 
    padding-top: 30px
}

.index-content1 p{
    align-items: center;
    font-size: large;
}

.in-box-content{
    text-align: center;
}

.in-box-content h1{
    padding: 10px;
}

.in-box-content p{
    margin: 15px 30px;
}

.in-box-content form{
    margin: auto; 
    width: 900px; 
    height: 50px; 
    display: flex;
    text-align: center;
    color: #fff;
}

.in-box-content input{
    flex: 1; 
    padding: 10px; 
    font-size: larger;
}

.scrape-button{
    padding: 10px;
    width: auto;
    font-size: small;
    font-weight: 500;
    color: #fff;
    background-color: #1b4242;
}


.index-content2{
    text-align: center;
}

.index-content2 form{
    margin: auto;
    padding: 30px;
    margin-right: 10px; 
    display: flex; 
    justify-content: center;
}

.index-content2 form label{
    margin-left: 10px;
    align-self: center; 
    padding: 10px 20px; 
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1b4242;
}

.index-content2 form input{
    display: none;
    visibility: none;  
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: left;
    margin: 0px;
  }
  
.row{
    margin-left: 80px;
}

.bi{
    padding-right: 10px;
    font-size: xx-large;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
    width: 100%;
    }
}

.wait{
    align-items: center;
    text-align: center;
    padding: 150px;
}

.clean-result{
    padding: 150px;
}

.clean-buttons{
    align-items: center;
    text-align: center;
    padding: 10px;
    
}

.clean-buttons button{
    padding: 15px;
    margin-left: 100px; 
    margin-right: 100px;
    background-color: rgb(184, 181, 181);
    color: #292828;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
}

.upper-function-container{
    justify-content: space-around;
    display: flex;
    margin-top: 50px;
    height: 30px;
}

.functions{
    display: flex;
    padding-left: 5px;
}

.functions input{
    color: black;
    font-size: medium;
    padding-left: 5px;
    background-color: #d8d8d8;
    border: transparent;
}

.functions h3{
    padding-top: 5px;
    padding-right: 5px;
}

.functions button{
    background-color: #5c8374;
    color: #fff;
    border:none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.save-option-container{
    display: flex;
    height: 30px;
}

.save-option{
    display: flex;
    margin: auto;
    height: 30px;
}

.save-option h3{
    padding-top: 5px;
    padding-right: 5px;
}

.save-option input{
    color: black;
    font-size: medium;
    padding-left: 5px;
    background-color: #d8d8d8;
    border: transparent;
}

.save-option button{
    background-color: #5c8374;
    color: #fff;
    border:none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.privacy-policy{
    margin: 5px;
}

.privacy-policy-header{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.privacy-policy-content{
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}

.privacy-policy-content h3{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: larger;
}

.privacy-policy-content ul{
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 30px;
}

.tutorial{
    margin: 40px;
}

.tutorial-header{
    text-align: center;
    margin-bottom: 20px;
}

.tutorial p{
    margin-bottom: 20px;
    font-size: large;
}

.tutorial h2{
    margin-bottom: 10px;
}

.tutorial ol{
    margin-bottom: 10px;
    margin-left: 30px;
}

.tutorial ol li{
    margin-bottom: 10px;
    margin-left: 30px;
}

.tutorial ol li h3{
    margin-bottom: 10px;
}

.tutorial ul{
    margin-bottom: 10px;
    margin-left: 20px;
}


