{% extends "base.html" %}

{% block content %}
<div class="privacy-policy">
    <div class="privacy-policy-header">
        <h1>Privacy Policy</h1>
    </div>
    <div class="privacy-policy-content">
        <h3>Introduction</h3>
        <p>Welcome to Extracto! This Privacy Policy explains how we collect, use, 
            disclose, and safeguard your information when you use our website and services. </p>
        <h3>Information We Collect</h3>
        <ul>
            <li>
                <p>Personal Information: We may collect personal information such as 
                    names, email addresses, and other contact details when voluntarily provided by users</p>
            </li>
            <li>
                <p>Usage Information : We collect information about how you use our website, 
                    including IP addresses, browser types, and access times.  </p>
            </li>
        </ul>
        <h3>How We Use Your Information</h3>
        <p>We use the collected information for the following purposes:</p>
        <ul>
            <li>To provide and maintain our services. </li>
            <li>To improve, personalize, and enhance user experience. 
                To respond to user inquiries and customer support requests. </li>
            <li>To send periodic emails regarding updates, news, and related information. </li>
        </ul>
        <br>
        <h3>Data Security</h3>
        <p>We implement security 
            measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. </p>
        <h3>Information Sharing</h3>
        <p>We do not sell, trade, or rent your personal information to third parties. 
            We may share non-personal information for marketing, advertising, or other uses. </p>
        <h3>Cookies</h3>
        <p>We use cookies to enhance user experience. Users may choose to set their web browsers to refuse cookies or to alert when cookies are being sent. </p>
        <h3>Your Choices</h3>
        <p>You can opt-out of receiving emails from us by following the instructions provided in the email. 
            You may also contact us to update, correct, or delete your personal information. </p>
        <h3>Changes to This Privacy Policy </h3>
        <p>We reserve the right to update this Privacy Policy at any time. 
            The latest version will be posted on our website with the effective date. </p>
        <h3>Contact Us</h3>
        <p>If you have any questions or concerns about this Privacy Policy, please contact us at extracto@gmail.com. 
            Thank you for using Extracto!</p>
    </div>
</div>
{% endblock %}