{% extends "base.html" %}

{% block box_content %}
<div class="clean-result">
</div>
{% endblock %}

{% block content2 %} 

<div class="search">
    <h1>Search Here</h1>
    <p>Enter keywords and customize your search results to fit your preferences, putting you in control of the extracted information</p>
</div>

<input class="customize" type="text" placeholder="Example: (Parent: Mother), (Cat: Dog)" /> 

<div class="clean-buttons">
    <button>Save</button>
    <button>Subsitute</button>
</div>
{% endblock %}